.problem-list-container {
    margin: 20px auto;
    width: 80%; /* Adjust the width as needed */
    max-width: 500px; /* Add a maximum width */
    text-align: center;
}

.problem-list-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #eee;
    text-shadow: #000 2px 2px 2px;
}

.problem-list {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    gap: 70px;

}

.problem-item {
    list-style-type: none;
    background-color: #000000;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px;
    transition: box-shadow 0.3s ease;
}

.problem-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.problem-info {
    margin: 2px 5px;
    color: rgb(255, 255, 255);
}

.problem-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.problem-code {
    font-size: 16px;
    color: #666;
}

.problem-link {
    display: block;
    text-align: center;
    padding: 0px 0;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

.problem-link:hover {
    background-color: #000000;
}