.problem-detail-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 80%;
    max-width: 1200px; /* Adjusted to provide more space */
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
}

.problem-detail-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #eee;
    width: 100%;
}

.problem-detail-content {
    background-color: #000;
    text-align: left;
    color: #ddd;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 20px;
    flex: 1; /* Makes the content fill available space */
    margin-right: 20px;
}

.problem-statement {
    font-size: 16px;
    line-height: 1.6;
}

.loading {
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
}

.editor-container {
    flex: 1; /* Makes the editor fill available space */
    display: flex;
    flex-direction: column;
}

.language-select {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #111;
}

.language-select label {
    margin-right: 10px;
    color: #ddd;
}

.forum-link {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #000;
    border: 1px solid #333;
    color: #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.language-select select {
    padding: 5px;
    border: 1px solid #333;
    background-color: #111;
    color: #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.code-input {
    width: 100%;
    height: 50vh; /* Adjusted to fill half the viewport height */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
}

.submit-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #000;
    border: 1px solid #333;
    color: #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #eee;
    color: #111;
}

.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.output-container {
    margin-top: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

/* Media query for responsive layout */
@media (max-width: 768px) {
    .problem-detail-container {
        flex-direction: column;
    }
    .problem-detail-content {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .code-input {
        height: 30vh; /* Adjust height for smaller screens */
    }
}
